<!DOCTYPE html>
<html lang="en">
<head>

  <title>Results</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
  <style>
  
  body { 
         background-repeat:no-repeat;
		 background-position:50% 220%;
      font: 400 15px/1.8 Lato, sans-serif;
      color: #777
       }
	   
	    h2, h3,h4{
    text-align: center;
}

	  .container {  
      padding: 80px 120px;
  }
   .nav-tabs li a {
      color: #777;
  }
  
 
    
  .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 2px;
      opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand { 
      color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  
  .form-control {
      border-radius: 0;
  }
  textarea {
      resize: none;
	  }
	  
	   #nav1 {color:#FFFFFF;
			background-color:#000000;
			border-top: 1px solid black;
		    font-size:15px;
			width:100%; 		
			padding-top:10px;	 
			padding-bottom:21px;
			top:585px;
			left:0px;}
		#nav1 > a {color:#FFFFFF;}
  
  #col {background-color:#CFCBEF;
			border-radius: 7px;}
			
			a:link, a:visited {
    background-color:black;
    color: black;
    border: 2px solid white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #999966;
    color: white; }
	
	

  </style>
</head>

 <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
     
     <a class="navbar-brand" ><span class="glyphicon glyphicon-king"> INDIAN INSTITUTE OF TECHNOLOGY , PATNA</span></a>
	 
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
	     {% if request.user.is_authenticated %} <br>
        <li><a class="navbar-brand" href="/accounts/logout/"> <span class="glyphicon glyphicon-log-out">Logout</span></a></li>
		{% else %}
        <li><a class="navbar-brand" href="/accounts/login/"> <span class="glyphicon glyphicon-log-in">Login</span></a></li><br>
		{% endif %}<br>
       </ul>
    </div>
  </div>
</nav>

<div class="container">
<br>
  <h2 id="col">VOTING PORTAL</h2>
  
  <div class ="col-sm-3">General Secretary</div>
  
  <div class ="col-sm-9">{% if general_sec_I %}
<strong>Year I</strong><br><br>
{% for sec in general_sec_I %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}<br><br>
{% endif %}


{% if general_sec_II %}
<strong>Year II</strong><br>
{% for sec in general_sec_II %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}
{% endif %}


{% if general_sec_III %}
<strong>Year III</strong><br>
{% for sec in general_sec_III %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}
{% endif %}


{% if general_sec_IV %}
<strong>Year IV</strong><br>
{% for sec in general_sec_IV %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}
{% endif %}
<br>
</div>


<div class ="col-sm-3"><br>Technical Secretary</div>
  
  <div class ="col-sm-9">
 <br> {% if technical_sec_I %}
<strong>Year I</strong><br><br>
{% for sec in technical_sec_I %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}<br><br>
{% endif %}


{% if technical_sec_II %}
<strong>Year II</strong><br>
{% for sec in technical_sec_II %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}
{% endif %}


{% if technical_sec_III %}
<strong>Year III</strong><br>
{% for sec in technical_sec_III %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}
{% endif %}


{% if technical_sec_IV %}
<strong>Year IV</strong><br>
{% for sec in technical_sec_IV %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}
{% endif %}
<br>

</div>

<div class ="col-sm-3"><br>Cultural Secretary</div>
<div class = "col-sm-9">
<br>{% if cultural_sec_I %}
<strong>Year I</strong><br><br>
{% for sec in cultural_sec_I %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}<br><br>
{% endif %}


{% if cultural_sec_II %}
<strong>Year II</strong><br>
{% for sec in cultural_sec_II %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}
{% endif %}


{% if cultural_sec_III %}
<strong>Year III</strong><br>
{% for sec in cultural_sec_III %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}
{% endif %}


{% if cultural_sec_IV %}
<strong>Year IV</strong><br>
{% for sec in cultural_sec_IV %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}
{% endif %}
<br>
</div>

<div class ="col-sm-3"><br>Sports Secretary</div>
<div class="col-sm-9">
<br>{% if sports_sec_I %}
<strong>Year I</strong><br><br>
{% for sec in sports_sec_I %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}<br><br>
{% endif %}


{% if sports_sec_II %}
<strong>Year II</strong><br>
{% for sec in sports_sec_II %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}
{% endif %}


{% if sports_sec_III %}
<strong>Year III</strong><br>
{% for sec in sports_sec_III %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}
{% endif %}


{% if sports_sec_IV %}
<strong>Year IV</strong><br>
{% for sec in sports_sec_IV %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}
{% endif %}
<br>
</div>

<div class ="col-sm-3"><br>Environmental Secretary</div>
<div class="col-sm-9">
<br>{% if environmental_sec_I %}
<strong>Year I</strong><br><br>
{% for sec in environmental_sec_I %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}<br><br>
{% endif %}


{% if environmental_sec_II %}
<strong>Year II</strong><br>
{% for sec in environmental_sec_II %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}
{% endif %}


{% if environmental_sec_III %}
<strong>Year III</strong><br>
{% for sec in environmental_sec_III %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}
{% endif %}


{% if environmental_sec_IV %}
<strong>Year IV</strong><br>
{% for sec in environmental_sec_IV %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}
{% endif %}
<br>
</div>


<div class ="col-sm-3"><br>Mess Secretary</div>
<div class="col-sm-9"><br>{% if mess_sec_I %}
<strong>Year I</strong><br><br>
{% for sec in mess_sec_I %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}<br><br>
{% endif %}


{% if mess_sec_II %}
<strong>Year II</strong><br>
{% for sec in mess_sec_II %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}
{% endif %}


{% if mess_sec_III %}
<strong>Year III</strong><br>
{% for sec in mess_sec_III %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}
{% endif %}


{% if mess_sec_IV %}
<strong>Year IV</strong><br>
{% for sec in mess_sec_IV %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}
{% endif %}
<br>
</div>

<div class="col-sm-3"><br>Maintenance Secretary </div>
<div class="col-sm-9">
<br>{% if maintenance_sec_I %}
<strong>Year I</strong><br><br>
{% for sec in maintenance_sec_I %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}<br><br>
{% endif %}


{% if maintenance_sec_II %}
<strong>Year II</strong><br>
{% for sec in maintenance_sec_II %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}
{% endif %}


{% if maintenance_sec_III %}
<strong>Year III</strong><br>
{% for sec in maintenance_sec_III %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}
{% endif %}


{% if maintenance_sec_IV %}
<strong>Year IV</strong><br>
{% for sec in maintenance_sec_IV %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}
{% endif %}
<br>
</div>

<div class = "col-sm-3"><br>Literary Secretary</div>
<div class="col-sm-9">
<br>{% if literary_sec_I %}
<strong>Year I</strong><br><br>
{% for sec in literary_sec_I %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}<br><br>
{% endif %}


{% if literary_sec_II %}
<strong>Year II</strong><br>
{% for sec in literary_sec_II %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}
{% endif %}


{% if literary_sec_III %}
<strong>Year III</strong><br>
{% for sec in literary_sec_III %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}
{% endif %}


{% if literary_sec_IV %}
<strong>Year IV</strong><br>
{% for sec in literary_sec_IV %}
{{ sec.candidate.student.firstname }} {{ sec.candidate.student.lastname }} &emsp; {{ sec.votes }}<br>
{% endfor %}
{% endif %}<br>
</div>


</div>



<div id="nav1" class="text-center">
&emsp;
  <a href="/" target="blank">Home</a> 
  <a href="/candidatesbulletin/" target="blank" >Candidates Bulleting</a> 
  <a href="/commonblog/" target="blank" >Commom Blog</a> 
  <a href="/voting/" target="blank" >Caste your Vote</a>
  <a href="/voting/results/" target="blank" >Voting results</a> 
  <a href="/candidatelist/" target="blank" >Candidate list</a> 
 </div>

</body>
</html>