<!DOCTYPE html>
<html>
<head>
	{% load get_comments %}
	<title>{{ candidate.student.firstname }} {{ candidate.student.lastname }}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<style type="text/css">
		body {background-image: linear-gradient(to bottom, #FF3C3C, #FF9B3C);}
		nav{background-color:#000000;
			color: #FFFFFF;}
		#message{align-content:center; 	
						position:fixed;
						top:475px;
						left:350px;}  
		.page input{align-content:center;}
		.profile{background-color:#A2F891;
						border:1px solid black;
						border-radius:10px;
						padding:2px;}
		.post {background-color:#C3E1FF;
					border:1px solid black;
					border-radius:10px;
					padding:2px;}
		.links{background-color: #FFB570;
				border:1px solid black;
				border-radius:10px;
				padding:2px;}
		.comment{background-color:#FFE0DE;
						border:1px solid black;
						border-radius:10px;
						padding:2px 2px;}
		#rightalign{align-content:right;}
		#name{color:#5129FF}
		#time{color:#D0D0D0}
	</style>	
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header>
		<nav class="navbar navbar-dafault" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<h2>Indian Institute of Technology - Patna</h2>
				</div><!-- navbar-header -->
			<ul class="nav navbar-nav navbar-right">
				<li>{% if request.user.is_authenticated %}
				<a href="/accounts/logout/"><strong>Logout</strong></a>
				{% else %}
				<a href = "/accounts/login"><strong>Login</strong></a></li>
				{% endif %}
			</ul>
			</div><!-- container -->
		</nav>
	</header>

<div class="container-fluid">
	<div class="page" id="left">
		<div class="content container col-sm-3">
			<div class="profile">
				<p style="font-size: 2em;">{{ candidate.student.firstname }} {{ candidate.student.lastname }}</p>
					<table>
						<tr>
						<td>Username</td>
						<td>: {{ candidate.student.username }}</td>
						</tr>

						<tr>
						<td>Email</td>
						<td>:  {{ candidate.student.username }}@iitp.ac.in</td>
						</tr>
						
						<tr>
						<td>Year</td>
						<td>:  {{ candidate.student.year }}</td>
						</tr>
						
						<tr>
						<td>Contesting for   </td>
						<td>:  {{ candidate.postname }}</td>
						</tr>
						<tr>
						<td> Manifesto :</td>
						</tr>
						<tr>
						<td colspan="2">&emsp;{{ candidate.momento }}</td>
						</tr>
					</table>			
			</div><!-- profile -->
		</div><!-- content container -->
	</div><!-- left -->


<!-- 	<div class="page" id="newpost">
		<div class="content container col-sm-6">
			{% if candidate.student.username == request.user.username %} -->
			<!-- <h3><strong><p align="center">Welcome {{ candidate.student.firstname }} 
			{{ candidate.student.lastname }}</p></strong></h3> -->
<!-- 			<form action = "/candidatesbulletin/addpost/" method="POST"> {% csrf_token %}
			<textarea type="text" name="content" placeholder ="Share your views..." rows="3" cols="50" style="border-radius: 10px;"></textarea><br>
			<input type="hidden" name="path" value="/candidatesbulletin/candidate/{{candidate.student.id}}/">
			<input type = "submit" name = "submit" value = "Post" style="border-radius: 10px;">
			</form>
			<br><br>
			{% endif %}
 -->	<!--</div> content container -->
	<!--</div> newpost -->

	<div class="page" id="posts">
		<div class="content container col-sm-6"  style="height:570px; width:650px; overflow:auto;">
		{% for post in posts %}
			<div class="post">
			<strong>{{ post.candidate.student.firstname }} {{ post.candidate.student.lastname }}</strong> &nbsp;Year : {{ post.candidate.student.year }}&nbsp; 
							
			<!-- Giving post delete option -->
			{% if request.user.username == post.candidate.student.username %}
			<a href="/candidatesbulletin/{{ post.id }}/deletepost/?link=/candidatesbulletin/candidate/{{post.candidate.student.id}}/ ">Delete</a>
			{% endif %} <br>
			<!-- Delete option ending -->

			{{ post.content }}<br>
			<span id="time">{{ post.timestamp }}</span><br><br>

			<!-- Calling get_comments.py to get value of more for a particular post -->
			<!-- More basically checks if there are more than 3 comments then display recent 3 comments and give a link to all the comments -->
			{% with morevalue=more|getmorevalue:forloop.counter0 %}
				{% if morevalue %}
					<a href="/candidatesbulletin/post/{{post.id}}/">See all comments</a><br><br>
				{% endif %}
			{% endwith %}
			<!-- End calling more -->

			<!-- Calling get_comments.py to get the comments for the current post -->
			{% with postcomments=comments|getcomments:forloop.counter0 %} 
			<!-- <strong>Comments</strong><br><br> -->
			{% for comment in postcomments %}
				<div class="comment col-sm-9">
					<strong>{{ comment.student.username }}</strong>&nbsp;&nbsp;
					{% if comment.student.username == request.user.username %}
					<a href="/candidatesbulletin/{{post.id}}/{{comment.id}}/delete/?link=/candidatesbulletin/candidate/{{post.candidate.student.id}}/">Delete</a>
					{% endif %}
					<br>
					{{ comment.comment }}<br>
					<span id="time">{{ comment.timestamp }}</span>
				</div><!-- comment -->
				<br><br><br><br>
				{% empty %}
					No comments yet
				{% endfor %}<!-- <strong>Comments Ends</strong> -->
				{% endwith %}
				<!-- Comments fetching Done -->


				<!-- Form for students to add comment -->
					{% if request.user.is_authenticated %}
						<form action = "/candidatesbulletin/{{post.id}}/addcomment/?link=/candidatesbulletin/" method="POST"> {% csrf_token %}
						<p>
						<textarea type="text" name="comment" placeholder ="Write a comment" rows="2" cols="50"></textarea>
						<input type = "submit" name = "submit" value = "Comment" style="border-radius: 10px;">
						</p>
						<input type="hidden" name="path" value="/candidatesbulletin/candidate/{{candidate.student.id}}/">
						
						</form>
					{% endif %}
				<!-- Form Ends -->
			</div><!-- post -->	
			<br>
			{% empty %}
				No Posts to show
			{% endfor %}
		</div><!-- content container -->
	</div><!-- posts -->

	<div class="page" id="right">
		<div class="content container col-sm-2 col-sm-offset-1">
			<ul class="nav navbar-right links">
				<li><a href="/">Home</a></li>
				<li><a href="/commonblog/">Common Blog</a></li>
				<li><a href="/candidatesbulletin/">Candidates Bulletin</a></li>
				<li><a href="/voting/">Cast Your Vote</a></li>
				<li><a href="/voting/results/">See Voting Results</a></li>
				<li><a href="/candidatelist">Candidate List</a></li>
			</ul>
		</div><!-- content container -->
	</div><!-- right -->
</div><!-- container-fluid -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>