<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<style type="text/css">
		body{background-color: #A2F891;
			font-size: 2em;}
		ul{list-style-type:none;}
		/*background-image: linear-gradient(to bottom, #FF7575, #E975FF);*/
		nav{background-color:#000000;
			color: #FFFFFF;}
	</style>	
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>
	<header>
		<nav class="navbar navbar-dafault" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<h2>Indian Institute of Technology - Patna</h2>
				</div><!-- navbar-header -->
			</div><!-- container -->
		</nav>
	</header>

<br><br><br><br><br><br>

<div class="container-fluid">
	<div class="page" id="clist">
		<div class="container" align="center">
			<ul>
				<li><a href="/voting/count/"><strong>Start Counting Votes</strong></a></li>
				<br>
				<li><a href="/candidatelist/"><strong>Candidate List</strong></a></li>
				<br>
				<li><a href="/administrator/uniquekey/"><strong>Check Vote of student</strong></a></li>
				<br>
				<li><a href="/accounts/logout/"><strong>Log Out</strong></a></li>
				<br>
			</ul>
		</div>
	</div>
</div>


</body>
</html>